dist/
build/
*.egg-info/
.maturin/
**/target/

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.nbi
*.nbc


.venv/
.pytest_cache/
.ruff_cache/
.zed/
.ipynb_checkpoints/


docs/_build/
docs/_static/
docs/_templates/
docs/reports/

*.md 
!README.md

flexsweep/test_code/
test/test_code/


.DS_Store
Thumbs.db
